<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Confirm Password {% endblock %}</title>
</head>
<body>
    {% if validlink %}
        <div class="container mt-5">
            <h2>Confirm Password Reset</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password rest</p>
    {% endif %}

</body>
{% endblock %}
</html>